*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* HEADER */
header{
    width: 90%;
    height: 80px;
    margin: 0 auto;
    background-color: white;
    border-bottom: 2px solid grey;
}

/* MAIN */
main{
    width: 100%;
    height: calc(100% - 200px);
}

main #gameField{
    width: 100%;
    height: 100%;
}

@keyframes showGrid{
    0%{
        width: 0;
        height: 0;
    }
    100%{
        width: 35vw;
        height: 35vw;
    }
}

main .grid{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    background-color: darkslategrey;
    animation: showGrid 1s ease-in-out forwards;
}

main .cell{
    border: 1px solid white;
    background-color: grey;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.easy{
    width: calc(100% / 10);
    height: calc(100% / 10);
}

.hard{
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.impossible{
    width: calc(100% / 7);
    height: calc(100% / 7); 
}

.chosen{
    background-color: lightgreen !important;
}

.loss{
    background-color: palevioletred !important;
}

main #gameOver{
    position: absolute;
    width: 100%;
    height: calc(100% - 200px);
    background-color: rgba(0,0,0,0.5);
    top: 80px;
    color: orange;
}
/* FOOTER */
footer{
    width: 100%;
    height: 120px;
    background-color: white;
}

footer #play-button{
    display: inline-block;
    background-color: transparent;
    border: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
    color: black;
    transition: none;
}

footer #play-button:hover{
    background-color: palegreen;
    color: white;
    border: none;
}

footer #level{
    width: 150px;
    background-color: transparent;
    border: none;
    text-align: center;
    border-bottom: 1px solid black;
    outline: none;
    transition: none;
    cursor: pointer;
}

footer #level:hover{
    border: none;
    background-color: lightsalmon;
    color: white;
}